.home-page {
  background: url(/images/fotolia_84828700_m.jpg);
  position: fixed;
    left: 0;
    /*top: 0;*/
    right: 0;
    /*bottom: 0;*/
    width: 100%;
    height: 100%;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.counter-app {
  margin-top: 20px;
    border: 1px solid #007bff;
    padding: 10px 5px 20px 5px;
}

.login-container {
  max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #d2cfcf;
    position: relative;
    top: 20px;
}
.error {
  color: red;
}

.counter-container {
  max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #d2cfcf;
    position: relative;
    top: 20px;
}

.addtodo-container {
  max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #d2cfcf;
    position: relative;
    top: 20px;
}
.todolist-container {
  max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #d2cfcf;
    position: relative;
    top: 40px;
}

.signup-container {
  max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #d2cfcf;
    position: relative;
    top: 20px;
}
.home-links {
  color: #333;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 5px;
}

.home-links li {
  margin: 10px;
}
.home-links li a {
  padding: 10px;
  color: #333;
  text-decoration: none;
}
.home-links li a:hover {
  background: #7f8183;
  color: #fff !important;
}


.h140 {
  height: 140px;
}
ul li {
  list-style-type: none;
}

.navbar-nav li a {
  color: #333 !important;
}

.m10 {
  margin: 10px;
}

.shift-container{
  margin: 20px;
  padding: 20px;
  
}
.shift-container .list-container{
  border: 1px solid #e5cece;
  padding-top: 10px;
}

.shift-container .list-container ul li {
  margin: 20px;
  padding: 10px;
  border: 1px solid #d3d4d9;
}
.shift-container .list-container ul li.selected {
  border: 1px solid #230808;
}

.cursor-pointer {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
